<h3>Stat Filters</h3>

<form [formGroup]="fg" (ngSubmit)="logForm()">
  <label>
    Author
    <input type="text" formControlName="author" />
  </label>

  <label>From
    <input type="date" formControlName="dateFrom" />
  </label>

  <label>
    To
    <input type="date" formControlName="dateTo" />
  </label>

</form>

<hr />

<pre>{{ fg.value | json }}</pre>

