body {
  font-family: sans-serif;
}

app-dashboard {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

app-video-list,
app-video-player,
app-video-thumbnail,
app-stat-filters
{
  display: block;
  border: 3px solid navy;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.highlighted {
  background-color: yellow;
}
